---
const search =
  Astro.url.searchParams.get('search') || ''
const selectedLangs = ['en', 'es', 'fr']
const full = true
// Astro.url.searchParams.get('full') === 'true'
// const full = Astro.params.full

import Language from '../components/language.astro'
import { dictionaries } from '../dictionaries'

const visibleDictionaries = dictionaries.filter(
  dic =>
    (!dic.target ||
      selectedLangs.includes(dic.target)) &&
    (full || dic.fave)
)

// // import 'materialize-css/dist/css/materialize.min.css'
// import '@awesome.me/webawesome/dist/styles/webawesome.css';
// import '@awesome.me/webawesome/dist/styles/themes/default.css';

// // For <wa-button>
// import '@awesome.me/webawesome/dist/components/button/button.js';

// // For <wa-input>
// import '@awesome.me/webawesome/dist/components/input/input.js';

// // For <wa-dropdown>
// import '@awesome.me/webawesome/dist/components/dropdown/dropdown.js';
// import '@awesome.me/webawesome/dist/components/menu/menu.js';
// import '@awesome.me/webawesome/dist/components/menu-item/menu-item.js';
---

<html lang='en'>
  <head>
    <meta charset='utf-8' />
    <link
      rel='icon'
      type='image/svg+xml'
      href='/SD.png'
    />
    <meta
      name='viewport'
      content='width=device-width'
    />
    <meta
      name='generator'
      content={Astro.generator}
    />
    <title>
      {
        `${search && `${search} – `}SupraDictionary`
      }
    </title>
    <link
      rel='stylesheet'
      href='https://early.webawesome.com/webawesome@3.0.0-beta.4/dist/styles/webawesome.css'
    />
    <script
      type='module'
      src='https://early.webawesome.com/webawesome@3.0.0-beta.4/dist/webawesome.loader.js'
    ></script>
  </head>

  <body>
    <header>
      <nav class='blue-grey'>
        <div class='nav-wrapper'>
          <a href={'/'} class='brand-logo center'
            >SupraDictionary</a
          >
        </div>
      </nav>
    </header>

    <main class='container mx-auto p-6'>
      <p class='center'>
        <wa-tag pill>English</wa-tag>
        <wa-tag pill>Spanish</wa-tag>
        <wa-tag pill>French</wa-tag>
      </p>

      <form>
        <wa-input
          type='text'
          name='search'
          autofocus
          autocapitalize='off'
          placeholder='Type then press Enter'
          label='Search'
          pill></wa-input>
      </form>
      {search && <wa-tag pill>{search}</wa-tag>}
      <!-- Merriam-Webster -->
      <wa-button
        href=`https://www.merriam-webster.com/dictionary/${search}`
        >Merriam-Webster</wa-button
      >
      <!-- Wiktionary -->
      <wa-dropdown>
        <wa-button slot='trigger' with-caret
          >Wiktionary</wa-button
        >
        <a
          href=`https://en.wiktionary.org/wiki/${search}`
          ><wa-dropdown-item>
            English
          </wa-dropdown-item></a
        >
        <a
          href=`https://es.wiktionary.org/wiki/${search}`
          ><wa-dropdown-item>
            Spanish
          </wa-dropdown-item></a
        >
        <a
          href=`https://fr.wiktionary.org/wiki/${search}`
          ><wa-dropdown-item>
            French
          </wa-dropdown-item></a
        >
      </wa-dropdown>
      <!-- YouGlish -->
      <wa-dropdown>
        <wa-button slot='trigger' with-caret
          >YouGlish</wa-button
        >
        <a
          href=`https://youglish.com/pronounce/${search}/english`
          ><wa-dropdown-item>
            English
          </wa-dropdown-item></a
        >
        <a
          href=`https://youglish.com/pronounce/${search}/spanish`
          ><wa-dropdown-item>
            Spanish
          </wa-dropdown-item></a
        >
        <a
          href=`https://youglish.com/pronounce/${search}/french`
          ><wa-dropdown-item>
            French
          </wa-dropdown-item></a
        >
      </wa-dropdown>
    </main>
  </body>
</html>
