---
const search =
  Astro.url.searchParams.get('search') || ''
const selectedLangs = ['en', 'es', 'fr']
const full = Astro.url.searchParams.get('full') === 'true'
// const full = Astro.params.full

import Language from '../components/language.astro'
import { dictionaries } from '../dictionaries'

const visibleDictionaries = dictionaries.filter(
  dic =>
    (!dic.target ||
      selectedLangs.includes(dic.target)) &&
    (full || dic.fave)
)

import 'materialize-css/dist/css/materialize.min.css'
---

<html lang='en'>
  <head>
    <meta charset='utf-8' />
    <link
      rel='icon'
      type='image/svg+xml'
      href='/SD.png'
    />
    <meta
      name='viewport'
      content='width=device-width'
    />
    <meta
      name='generator'
      content={Astro.generator}
    />
    <title>
      {
        `${search && `${search} – `}SupraDictionary`
      }
    </title>
  </head>

  <body>
    <nav class='blue-grey'>
      <div class='nav-wrapper'>
        <a href={'/'} class='brand-logo center'
          >SupraDictionary</a
        >
      </div>
    </nav>

    <div class='container'>
      <!-- <form> -->
        <!-- <div class='row'>
          {
            [
              'en',
              'es',
              'fr',
              'de',
              'it',
              'pt',
            ].map(lang => (
              <label class='col s4 l2'>
                <input
                  type='checkbox'
                  name='lang'
                  value={lang}
                  checked={
                    selectedLangs.includes(lang)
                      ? true
                      : undefined
                  }
                />
                <span>{lang.toUpperCase()}</span>
              </label>
            ))
          }

          <label class='col s4 l2'>
            <input
              type='checkbox'
              name='full'
              value='true'
              checked={full ? true : undefined}
            />
            <span>Full</span>
          </label>
          <button class='btn-small s4 l2'
            >search</button
          >
        </div> -->

        <div class='row valign-wrapper'>
          <div class='col s3 l2'>
            {
              full ? (
                              <a href=`/?search=${search}` class="btn-small">light</a>

              ) : (
               
                <a href=`/?search=${search}&full=true` class="btn-small">full</a>
              )
            }
          </div>
          <div class='col s9 l10'>
            <form>
              <label for='search'>Search</label>
              <input
                type='text'
                name='search'
                autofocus
                autocapitalize='off'
                placeholder='Type then press Enter'
              />
              {full &&  <input type="hidden" name="full" value="true">}
            </form>
          </div>
        </div>
      <!-- </form> -->

      {
        search && (
          <p>
            Links generated for: <b>{search}</b>
          </p>
        )
      }
      {
        selectedLangs.includes('en') && (
          <Language
            lang='en'
            list={visibleDictionaries}
            color='purple'
            search={search}
          />
        )
      }
      {
        selectedLangs.includes('es') && (
          <Language
            lang='es'
            list={visibleDictionaries}
            color='red'
            search={search}
          />
        )
      }
      {
        selectedLangs.includes('fr') && (
          <Language
            lang='fr'
            list={visibleDictionaries}
            color='grey'
            search={search}
          />
        )
      }
      {
        selectedLangs.includes('de') && (
          <Language
            lang='de'
            list={visibleDictionaries}
            color='black'
            search={search}
          />
        )
      }
      {
        selectedLangs.includes('it') && (
          <Language
            lang='it'
            list={visibleDictionaries}
            color='blue'
            search={search}
          />
        )
      }
      {
        selectedLangs.includes('pt') && (
          <Language
            lang='pt'
            list={visibleDictionaries}
            color='green'
            search={search}
          />
        )
      }
    </div>
  </body>
</html>
